<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <p>
        Your selected Event list is id={{eventId}}
      </p>


      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
              <thead>
                <tr class="heading_txt">
                  <th>Product</th>
                  <th class="text-center">Price</th>
                  <th class="text-center">Selected</th>
                  <th> </th>
                  <th class="text-center">Action</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-sm-8 col-md-6">
                    <div class="media">
                      <a class="thumbnail pull-left" href="#"> <img class="media-object"
                          src="../../assets/img/TpLogo.png"
                          style="width: 72px; height: 72px;"> </a>
                      <div class="media-body left_margin">
                        <h4 class="media-heading heading_txt"><b>Product name</b></h4>
                        <h5 class="media-heading"> Size: <span>Small</span></h5>
                        <h5 class="media-heading"> Color: <span>Black</span></h5>
                      </div>
                    </div>
                  </td>
                  <td class="col-sm-1 col-md-1 text-center"><strong>$4.87</strong></td>
                  <td class="col-sm-1 col-md-1 text-center"><strong>No</strong></td>
                  <td class="col-sm-1 col-md-1 text-center"> </td>
                  <td class="col-sm-1 col-md-1">
                    <button type="button" class="btn btn-danger">
                      <span class="glyphicon glyphicon-remove"></span> Remove
                    </button></td>
                </tr>
               

               
              </tbody>
            </table>
            <div class="row">
              
                  <button routerLink='/AllProducts' type="button" class="btn btn-default pull-right">
                    Continue Shopping
                  </button>
            </div>
          </div>
        </div>
      </div>
      <!-- 
      <div class="container">
        <table id="cart" class="table table-hover table-condensed">
                  <thead>
                  <tr>
                    <th style="width:50%">Product</th>
                    <th style="width:10%">Price</th>
                    <th style="width:8%">Quantity</th>
                    <th style="width:22%" class="text-center">Subtotal</th>
                    <th style="width:10%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td data-th="Product">
                      <div class="row">
                        <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                        <div class="col-sm-10">
                          <h4 class="nomargin">Product 1</h4>
                          <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                      </div>
                    </td>
                    <td data-th="Price">$1.99</td>
                    <td data-th="Quantity">
                      <input type="number" class="form-control text-center" value="1">
                    </td>
                    <td data-th="Subtotal" class="text-center">1.99</td>
                    <td class="actions" data-th="">
                      <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                      <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>								
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr class="visible-xs">
                    <td class="text-center"><strong>Total 1.99</strong></td>
                  </tr>
                  <tr>
                    <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
                    <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                  </tr>
                </tfoot>
              </table>
      </div> -->

    </div>
  </div>
</div>