<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>updatePassword</title>
</head>
<body>
  <div class="login_wrapper">
  <div class="container mat-elevation-z4 b-radius">
    <div class="form-container">

      <div style="padding-bottom:30px;">
        <h3>Email Successfully Sent</h3>
        <p>Check Your Mail And Copy/Paste The Token</p>
      </div>

      <form role="form" #restForm="ngForm">

        <div class="row">
          <div class="col-sm-12" id="test">
            <mat-form-field appearance="outline">
              <mat-label>New Password</mat-label>
              <input matInput type="text" [(ngModel)]="UserPassword" #UserPasswordField="ngModel"
                name="UserPasswordField" id="UserPasswordField" required autofocus>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12" id="test">
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput type="text" [(ngModel)]="ConfirmPassword" #ConfirmPasswordField="ngModel"
                name="ConfirmPasswordField" id="ConfirmPasswordField" required autofocus>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12" id="test">
            <mat-form-field appearance="outline">
              <mat-label>Token</mat-label>
              <input matInput type="text" [(ngModel)]="UserToken" #UserTokenField="ngModel" name="UserTokenField"
                id="UserTokenField" required autofocus>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 mx-auto">
            <div class="example-button-row">
              <button mat-raised-button color="primary" type="submit" [disabled]="!restForm.form.valid"
                (click)="onSubmit()">Confirm</button>
            </div>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>
</body>
</html>


