<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">All Products</h4>
                      <p class="card-category"> Here is a top view of all Products</p>
                  </div>

                  <div class="card-body">
                      <mat-form-field>
                          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search..">
                      </mat-form-field>
                      <div class="table-responsive">
                          <mat-table #table [dataSource]="categoryListMatDS" matSort>



                              <ng-container matColumnDef="category_id" sticky>
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                                      <h6 class="text-dark font-weight-bold">ID</h6>
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.category_id}}</mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="title">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                                      <h6 class="text-dark font-weight-bold">Title</h6>
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.title}}
                                  </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="description">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                                      <h6 class="text-dark font-weight-bold">Description</h6>
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.description}}
                                  </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="action" sticky>
                                  <mat-header-cell *matHeaderCellDef mat-sort-header
                                      class="text-dark font-weight-bold"> Action</mat-header-cell>
                                  <mat-cell *matCellDef="let element">
                                      <a (click)="showEventList(element)">
                                          <mat-icon color="primary" matTooltip="Delete {{element.title}}"
                                              matTooltipPosition="right">
                                              delete_forever</mat-icon>
                                      </a>
                                  </mat-cell>
                              </ng-container>






                              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                              <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
                          </mat-table>
                          <mat-paginator #paginator [length]="this.categoryList.length" [pageSize]="10"
                              [pageSizeOptions]="[10, 25, 50, 100]" [showFirstLastButtons]="true">
                          </mat-paginator>
                      </div>
                  </div>




                  <!-- <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Starting Date
                                        </th>
                                        <th>
                                            Ending Date
                                        </th>
                                        <th>
                                            Address
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let event of eventModelArray">
                                            <td> {{event.title}} </td>
                                            <td> {{event.startDate}} </td>
                                            <td> {{event.endDate}} </td>
                                            <td> {{event.city}}, {{event.country}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> -->
              </div>
          </div>
      </div>
  </div>
</div>