<div class="logo">
    <a href="" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/TpLogo.png"/>
        </div>
        E-wish
    </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">

    <ul class="nav navbar-nav nav-mobile-menu">
        <li class="nav-item dropdown">
            <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">person</i>
                <p>
                    <span class="d-lg-none d-md-block">Abid</span>
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#pablo">
                <i class="material-icons">exit_to_app</i>
                <p>
                    <span class="d-lg-none d-md-block">Logout</span>
                </p>
            </a>
        </li>
    </ul>
  </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>

    <!-- <ul class="nav" *ngIf="userProfile === 0">
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="/dashboard">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="/addCategory">
                <i class="material-icons">add_circle_outline</i>
                <p>Add Category</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="/addProduct">
                <i class="material-icons">add_circle_outline</i>
                <p>Add Product</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="/allUserList">
                <i class="material-icons">recent_actors</i>
                <p>User List</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="/AllEvents">
                <i class="material-icons">all_out</i>
                <p>All Events</p>
            </a>
        </li>
    </ul>

    <ul class="nav" *ngIf="userProfile === 1">
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="/createEvent">
                <i class="material-icons">dashboard</i>
                <p>Create Event</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="/AllEvents">
                <i class="material-icons">add_circle_outline</i>
                <p>All Event</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="/categories">
                <i class="material-icons">add_circle_outline</i>
                <p>Add Product</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="/AllProducts">
                <i class="material-icons">recent_actors</i>
                <p>User List</p>
            </a>
        </li>
    </ul> -->
</div>
